@font-face {
	font-family: 'Metrize-Icons';
	src:url('fonts/Metrize-Icons.eot');
	src:url('fonts/Metrize-Icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/Metrize-Icons.woff') format('woff'),
		url('fonts/Metrize-Icons.ttf') format('truetype'),
		url('fonts/Metrize-Icons.svg#Metrize-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-metrize]:before {
	font-family: 'Metrize-Icons';
	content: attr(data-metrize);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Sizing */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="metrize-"].small {
*/
.metrize-yen.small, .metrize-world.small, .metrize-wireframe-globe.small, .metrize-wind.small, .metrize-wifi.small, .metrize-waves.small, .metrize-viewport.small, .metrize-viewport-video.small, .metrize-user.small, .metrize-user-remove.small, .metrize-user-ban.small, .metrize-user-add.small, .metrize-upload.small, .metrize-upload-selection.small, .metrize-upload-selection-circle.small, .metrize-underline.small, .metrize-triple-points.small, .metrize-top-bottom.small, .metrize-three-points.small, .metrize-three-points-top.small, .metrize-three-points-bottom.small, .metrize-text-width.small, .metrize-text-size-upper.small, .metrize-text-size-reduce.small, .metrize-text-paragraph.small, .metrize-text-normal.small, .metrize-text-justify-right.small, .metrize-text-justify-left.small, .metrize-text-justify-center.small, .metrize-text-height.small, .metrize-text-center.small, .metrize-text-bold.small, .metrize-text-align-right.small, .metrize-text-align-left.small, .metrize-telephone.small, .metrize-sunshine.small, .metrize-sun.small, .metrize-stop.small, .metrize-star.small, .metrize-speed.small, .metrize-sound-on.small, .metrize-sound-off.small, .metrize-sos.small, .metrize-social-zerply.small, .metrize-social-youtube.small, .metrize-social-yelp.small, .metrize-social-yahoo.small, .metrize-social-wordpress.small, .metrize-social-virb.small, .metrize-social-vimeo.small, .metrize-social-viddler.small, .metrize-social-twitter.small, .metrize-social-tumblr.small, .metrize-social-stumbleupon.small, .metrize-social-soundcloud.small, .metrize-social-skype.small, .metrize-social-sharethis.small, .metrize-social-quora.small, .metrize-social-pinterest.small, .metrize-social-photobucket.small, .metrize-social-paypal.small, .metrize-social-myspace.small, .metrize-social-linkedin.small, .metrize-social-last-fm.small, .metrize-social-grooveshark.small, .metrize-social-google-plus.small, .metrize-social-github.small, .metrize-social-forrst.small, .metrize-social-flickr.small, .metrize-social-facebook.small, .metrize-social-evernote.small, .metrize-social-envato.small, .metrize-social-email.small, .metrize-social-dribbble.small, .metrize-social-digg.small, .metrize-social-deviantart.small, .metrize-social-blogger.small, .metrize-social-behance.small, .metrize-social-bebo.small, .metrize-social-addthis.small, .metrize-social-500px.small, .metrize-snow.small, .metrize-sliders.small, .metrize-sliders-vertical.small, .metrize-sign-male.small, .metrize-sign-female.small, .metrize-shield.small, .metrize-settings.small, .metrize-setting.small, .metrize-select-square.small, .metrize-select-circle.small, .metrize-search.small, .metrize-scale.small, .metrize-rules.small, .metrize-rss.small, .metrize-retweet.small, .metrize-report-comment.small, .metrize-refresh.small, .metrize-rec.small, .metrize-random.small, .metrize-quote.small, .metrize-question.small, .metrize-previous-fast-step.small, .metrize-prev-step.small, .metrize-pounds.small, .metrize-podcast.small, .metrize-plus.small, .metrize-play.small, .metrize-pin.small, .metrize-pin-map.small, .metrize-pig-money.small, .metrize-pause.small, .metrize-paperclip.small, .metrize-paperclip-oblique.small, .metrize-options-settings.small, .metrize-officine.small, .metrize-officine-2.small, .metrize-off.small, .metrize-number-zero.small, .metrize-number-two.small, .metrize-number-three.small, .metrize-number-six.small, .metrize-number-seven.small, .metrize-number-one.small, .metrize-number-nine.small, .metrize-number-four.small, .metrize-number-five.small, .metrize-number-eight.small, .metrize-next-step.small, .metrize-next-fast-step.small, .metrize-music.small, .metrize-multi-borders.small, .metrize-minus.small, .metrize-marker.small, .metrize-marker-points.small, .metrize-marker-minus.small, .metrize-marker-add.small, .metrize-map.small, .metrize-male-symbol.small, .metrize-mailbox.small, .metrize-mail.small, .metrize-magnet.small, .metrize-magic-wand.small, .metrize-login-lock-refresh.small, .metrize-locked.small, .metrize-location.small, .metrize-location-maps.small, .metrize-list-square.small, .metrize-list-circle.small, .metrize-link-url.small, .metrize-line-through.small, .metrize-limit-directions.small, .metrize-like-upload.small, .metrize-like-remove.small, .metrize-like-download.small, .metrize-like-close.small, .metrize-like-ban.small, .metrize-like-add.small, .metrize-left-right.small, .metrize-leaf.small, .metrize-layers.small, .metrize-landscape.small, .metrize-key.small, .metrize-italic.small, .metrize-info.small, .metrize-idea.small, .metrize-home-wifi.small, .metrize-heart.small, .metrize-hdd.small, .metrize-hdd-raid.small, .metrize-hdd-net.small, .metrize-grids.small, .metrize-grid-big.small, .metrize-graphs.small, .metrize-forward.small, .metrize-fire.small, .metrize-female-symbol.small, .metrize-eye.small, .metrize-eye-disabled.small, .metrize-expand.small, .metrize-expand-vertical.small, .metrize-expand-horizontal.small, .metrize-expand-directions.small, .metrize-exclamation.small, .metrize-euro.small, .metrize-email-upload.small, .metrize-email-spam.small, .metrize-email-remove.small, .metrize-email-luminosity.small, .metrize-email-download.small, .metrize-email-close.small, .metrize-email-add.small, .metrize-eject.small, .metrize-drops.small, .metrize-drop.small, .metrize-download.small, .metrize-download-selection.small, .metrize-download-selection-circle.small, .metrize-double-diamonds.small, .metrize-dot-square.small, .metrize-dot-line.small, .metrize-dot-circle.small, .metrize-dollar.small, .metrize-documents.small, .metrize-document.small, .metrize-document-fill.small, .metrize-directions.small, .metrize-cross.small, .metrize-credit-card.small, .metrize-copy-paste-document.small, .metrize-copy-document.small, .metrize-contract-vertical.small, .metrize-contract-horizontal.small, .metrize-contract-directions.small, .metrize-compass.small, .metrize-compass-2.small, .metrize-comments.small, .metrize-comment.small, .metrize-coins.small, .metrize-cloud.small, .metrize-cloud-upload.small, .metrize-cloud-remove.small, .metrize-cloud-download.small, .metrize-cloud-add.small, .metrize-clock.small, .metrize-circles.small, .metrize-check.small, .metrize-chat.small, .metrize-chart-down.small, .metrize-cd-dvd-rom.small, .metrize-camera.small, .metrize-button-question.small, .metrize-button-minus.small, .metrize-button-exclamation.small, .metrize-button-email.small, .metrize-button-close.small, .metrize-button-check.small, .metrize-button-add.small, .metrize-brush.small, .metrize-browser-sizes.small, .metrize-box-remove.small, .metrize-box-close.small, .metrize-box-blank.small, .metrize-box-add.small, .metrize-bolt.small, .metrize-block-menu.small, .metrize-blank.small, .metrize-bezier.small, .metrize-bars.small, .metrize-ban-circle.small, .metrize-bag.small, .metrize-backward.small, .metrize-axis-rules.small, .metrize-atom.small, .metrize-arrow-up.small, .metrize-arrow-up-thin.small, .metrize-arrow-up-light.small, .metrize-arrow-up-bold.small, .metrize-arrow-up-bold-round.small, .metrize-arrow-up-big.small, .metrize-arrow-right.small, .metrize-arrow-right-thin.small, .metrize-arrow-right-light.small, .metrize-arrow-right-bold.small, .metrize-arrow-right-bold-round.small, .metrize-arrow-right-big.small, .metrize-arrow-oblique-expand.small, .metrize-arrow-oblique-expand-directions.small, .metrize-arrow-oblique-contract.small, .metrize-arrow-oblique-contract-directions.small, .metrize-arrow-multi-line-up.small, .metrize-arrow-multi-line-right.small, .metrize-arrow-multi-line-left.small, .metrize-arrow-multi-line-down.small, .metrize-arrow-left.small, .metrize-arrow-left-thin.small, .metrize-arrow-left-light.small, .metrize-arrow-left-bold.small, .metrize-arrow-left-bold-round.small, .metrize-arrow-left-big.small, .metrize-arrow-fill-up.small, .metrize-arrow-fill-right.small, .metrize-arrow-fill-left.small, .metrize-arrow-fill-down.small, .metrize-arrow-down.small, .metrize-arrow-down-thin.small, .metrize-arrow-down-light.small, .metrize-arrow-down-bold.small, .metrize-arrow-down-bold-round.small, .metrize-arrow-down-big.small, .metrize-arrow-cycling.small, .metrize-arrow-cycle.small, .metrize-arrow-curve-right.small, .metrize-arrow-curve-recycle.small, .metrize-arrow-curve-left.small, .metrize-animal-footprint.small, .metrize-alarm-clock.small, .metrize-air-plane.small, .metrize-adjust.small, .metrize-cube.small {
	font-size: 20px;
}

/* [class*="metrize-"].medium { */
.metrize-yen.medium, .metrize-world.medium, .metrize-wireframe-globe.medium, .metrize-wind.medium, .metrize-wifi.medium, .metrize-waves.medium, .metrize-viewport.medium, .metrize-viewport-video.medium, .metrize-user.medium, .metrize-user-remove.medium, .metrize-user-ban.medium, .metrize-user-add.medium, .metrize-upload.medium, .metrize-upload-selection.medium, .metrize-upload-selection-circle.medium, .metrize-underline.medium, .metrize-triple-points.medium, .metrize-top-bottom.medium, .metrize-three-points.medium, .metrize-three-points-top.medium, .metrize-three-points-bottom.medium, .metrize-text-width.medium, .metrize-text-size-upper.medium, .metrize-text-size-reduce.medium, .metrize-text-paragraph.medium, .metrize-text-normal.medium, .metrize-text-justify-right.medium, .metrize-text-justify-left.medium, .metrize-text-justify-center.medium, .metrize-text-height.medium, .metrize-text-center.medium, .metrize-text-bold.medium, .metrize-text-align-right.medium, .metrize-text-align-left.medium, .metrize-telephone.medium, .metrize-sunshine.medium, .metrize-sun.medium, .metrize-stop.medium, .metrize-star.medium, .metrize-speed.medium, .metrize-sound-on.medium, .metrize-sound-off.medium, .metrize-sos.medium, .metrize-social-zerply.medium, .metrize-social-youtube.medium, .metrize-social-yelp.medium, .metrize-social-yahoo.medium, .metrize-social-wordpress.medium, .metrize-social-virb.medium, .metrize-social-vimeo.medium, .metrize-social-viddler.medium, .metrize-social-twitter.medium, .metrize-social-tumblr.medium, .metrize-social-stumbleupon.medium, .metrize-social-soundcloud.medium, .metrize-social-skype.medium, .metrize-social-sharethis.medium, .metrize-social-quora.medium, .metrize-social-pinterest.medium, .metrize-social-photobucket.medium, .metrize-social-paypal.medium, .metrize-social-myspace.medium, .metrize-social-linkedin.medium, .metrize-social-last-fm.medium, .metrize-social-grooveshark.medium, .metrize-social-google-plus.medium, .metrize-social-github.medium, .metrize-social-forrst.medium, .metrize-social-flickr.medium, .metrize-social-facebook.medium, .metrize-social-evernote.medium, .metrize-social-envato.medium, .metrize-social-email.medium, .metrize-social-dribbble.medium, .metrize-social-digg.medium, .metrize-social-deviantart.medium, .metrize-social-blogger.medium, .metrize-social-behance.medium, .metrize-social-bebo.medium, .metrize-social-addthis.medium, .metrize-social-500px.medium, .metrize-snow.medium, .metrize-sliders.medium, .metrize-sliders-vertical.medium, .metrize-sign-male.medium, .metrize-sign-female.medium, .metrize-shield.medium, .metrize-settings.medium, .metrize-setting.medium, .metrize-select-square.medium, .metrize-select-circle.medium, .metrize-search.medium, .metrize-scale.medium, .metrize-rules.medium, .metrize-rss.medium, .metrize-retweet.medium, .metrize-report-comment.medium, .metrize-refresh.medium, .metrize-rec.medium, .metrize-random.medium, .metrize-quote.medium, .metrize-question.medium, .metrize-previous-fast-step.medium, .metrize-prev-step.medium, .metrize-pounds.medium, .metrize-podcast.medium, .metrize-plus.medium, .metrize-play.medium, .metrize-pin.medium, .metrize-pin-map.medium, .metrize-pig-money.medium, .metrize-pause.medium, .metrize-paperclip.medium, .metrize-paperclip-oblique.medium, .metrize-options-settings.medium, .metrize-officine.medium, .metrize-officine-2.medium, .metrize-off.medium, .metrize-number-zero.medium, .metrize-number-two.medium, .metrize-number-three.medium, .metrize-number-six.medium, .metrize-number-seven.medium, .metrize-number-one.medium, .metrize-number-nine.medium, .metrize-number-four.medium, .metrize-number-five.medium, .metrize-number-eight.medium, .metrize-next-step.medium, .metrize-next-fast-step.medium, .metrize-music.medium, .metrize-multi-borders.medium, .metrize-minus.medium, .metrize-marker.medium, .metrize-marker-points.medium, .metrize-marker-minus.medium, .metrize-marker-add.medium, .metrize-map.medium, .metrize-male-symbol.medium, .metrize-mailbox.medium, .metrize-mail.medium, .metrize-magnet.medium, .metrize-magic-wand.medium, .metrize-login-lock-refresh.medium, .metrize-locked.medium, .metrize-location.medium, .metrize-location-maps.medium, .metrize-list-square.medium, .metrize-list-circle.medium, .metrize-link-url.medium, .metrize-line-through.medium, .metrize-limit-directions.medium, .metrize-like-upload.medium, .metrize-like-remove.medium, .metrize-like-download.medium, .metrize-like-close.medium, .metrize-like-ban.medium, .metrize-like-add.medium, .metrize-left-right.medium, .metrize-leaf.medium, .metrize-layers.medium, .metrize-landscape.medium, .metrize-key.medium, .metrize-italic.medium, .metrize-info.medium, .metrize-idea.medium, .metrize-home-wifi.medium, .metrize-heart.medium, .metrize-hdd.medium, .metrize-hdd-raid.medium, .metrize-hdd-net.medium, .metrize-grids.medium, .metrize-grid-big.medium, .metrize-graphs.medium, .metrize-forward.medium, .metrize-fire.medium, .metrize-female-symbol.medium, .metrize-eye.medium, .metrize-eye-disabled.medium, .metrize-expand.medium, .metrize-expand-vertical.medium, .metrize-expand-horizontal.medium, .metrize-expand-directions.medium, .metrize-exclamation.medium, .metrize-euro.medium, .metrize-email-upload.medium, .metrize-email-spam.medium, .metrize-email-remove.medium, .metrize-email-luminosity.medium, .metrize-email-download.medium, .metrize-email-close.medium, .metrize-email-add.medium, .metrize-eject.medium, .metrize-drops.medium, .metrize-drop.medium, .metrize-download.medium, .metrize-download-selection.medium, .metrize-download-selection-circle.medium, .metrize-double-diamonds.medium, .metrize-dot-square.medium, .metrize-dot-line.medium, .metrize-dot-circle.medium, .metrize-dollar.medium, .metrize-documents.medium, .metrize-document.medium, .metrize-document-fill.medium, .metrize-directions.medium, .metrize-cross.medium, .metrize-credit-card.medium, .metrize-copy-paste-document.medium, .metrize-copy-document.medium, .metrize-contract-vertical.medium, .metrize-contract-horizontal.medium, .metrize-contract-directions.medium, .metrize-compass.medium, .metrize-compass-2.medium, .metrize-comments.medium, .metrize-comment.medium, .metrize-coins.medium, .metrize-cloud.medium, .metrize-cloud-upload.medium, .metrize-cloud-remove.medium, .metrize-cloud-download.medium, .metrize-cloud-add.medium, .metrize-clock.medium, .metrize-circles.medium, .metrize-check.medium, .metrize-chat.medium, .metrize-chart-down.medium, .metrize-cd-dvd-rom.medium, .metrize-camera.medium, .metrize-button-question.medium, .metrize-button-minus.medium, .metrize-button-exclamation.medium, .metrize-button-email.medium, .metrize-button-close.medium, .metrize-button-check.medium, .metrize-button-add.medium, .metrize-brush.medium, .metrize-browser-sizes.medium, .metrize-box-remove.medium, .metrize-box-close.medium, .metrize-box-blank.medium, .metrize-box-add.medium, .metrize-bolt.medium, .metrize-block-menu.medium, .metrize-blank.medium, .metrize-bezier.medium, .metrize-bars.medium, .metrize-ban-circle.medium, .metrize-bag.medium, .metrize-backward.medium, .metrize-axis-rules.medium, .metrize-atom.medium, .metrize-arrow-up.medium, .metrize-arrow-up-thin.medium, .metrize-arrow-up-light.medium, .metrize-arrow-up-bold.medium, .metrize-arrow-up-bold-round.medium, .metrize-arrow-up-big.medium, .metrize-arrow-right.medium, .metrize-arrow-right-thin.medium, .metrize-arrow-right-light.medium, .metrize-arrow-right-bold.medium, .metrize-arrow-right-bold-round.medium, .metrize-arrow-right-big.medium, .metrize-arrow-oblique-expand.medium, .metrize-arrow-oblique-expand-directions.medium, .metrize-arrow-oblique-contract.medium, .metrize-arrow-oblique-contract-directions.medium, .metrize-arrow-multi-line-up.medium, .metrize-arrow-multi-line-right.medium, .metrize-arrow-multi-line-left.medium, .metrize-arrow-multi-line-down.medium, .metrize-arrow-left.medium, .metrize-arrow-left-thin.medium, .metrize-arrow-left-light.medium, .metrize-arrow-left-bold.medium, .metrize-arrow-left-bold-round.medium, .metrize-arrow-left-big.medium, .metrize-arrow-fill-up.medium, .metrize-arrow-fill-right.medium, .metrize-arrow-fill-left.medium, .metrize-arrow-fill-down.medium, .metrize-arrow-down.medium, .metrize-arrow-down-thin.medium, .metrize-arrow-down-light.medium, .metrize-arrow-down-bold.medium, .metrize-arrow-down-bold-round.medium, .metrize-arrow-down-big.medium, .metrize-arrow-cycling.medium, .metrize-arrow-cycle.medium, .metrize-arrow-curve-right.medium, .metrize-arrow-curve-recycle.medium, .metrize-arrow-curve-left.medium, .metrize-animal-footprint.medium, .metrize-alarm-clock.medium, .metrize-air-plane.medium, .metrize-adjust.medium, .metrize-cube.medium {
	font-size: 40px;
}

/* [class*="metrize-"].large { */
.metrize-yen.large, .metrize-world.large, .metrize-wireframe-globe.large, .metrize-wind.large, .metrize-wifi.large, .metrize-waves.large, .metrize-viewport.large, .metrize-viewport-video.large, .metrize-user.large, .metrize-user-remove.large, .metrize-user-ban.large, .metrize-user-add.large, .metrize-upload.large, .metrize-upload-selection.large, .metrize-upload-selection-circle.large, .metrize-underline.large, .metrize-triple-points.large, .metrize-top-bottom.large, .metrize-three-points.large, .metrize-three-points-top.large, .metrize-three-points-bottom.large, .metrize-text-width.large, .metrize-text-size-upper.large, .metrize-text-size-reduce.large, .metrize-text-paragraph.large, .metrize-text-normal.large, .metrize-text-justify-right.large, .metrize-text-justify-left.large, .metrize-text-justify-center.large, .metrize-text-height.large, .metrize-text-center.large, .metrize-text-bold.large, .metrize-text-align-right.large, .metrize-text-align-left.large, .metrize-telephone.large, .metrize-sunshine.large, .metrize-sun.large, .metrize-stop.large, .metrize-star.large, .metrize-speed.large, .metrize-sound-on.large, .metrize-sound-off.large, .metrize-sos.large, .metrize-social-zerply.large, .metrize-social-youtube.large, .metrize-social-yelp.large, .metrize-social-yahoo.large, .metrize-social-wordpress.large, .metrize-social-virb.large, .metrize-social-vimeo.large, .metrize-social-viddler.large, .metrize-social-twitter.large, .metrize-social-tumblr.large, .metrize-social-stumbleupon.large, .metrize-social-soundcloud.large, .metrize-social-skype.large, .metrize-social-sharethis.large, .metrize-social-quora.large, .metrize-social-pinterest.large, .metrize-social-photobucket.large, .metrize-social-paypal.large, .metrize-social-myspace.large, .metrize-social-linkedin.large, .metrize-social-last-fm.large, .metrize-social-grooveshark.large, .metrize-social-google-plus.large, .metrize-social-github.large, .metrize-social-forrst.large, .metrize-social-flickr.large, .metrize-social-facebook.large, .metrize-social-evernote.large, .metrize-social-envato.large, .metrize-social-email.large, .metrize-social-dribbble.large, .metrize-social-digg.large, .metrize-social-deviantart.large, .metrize-social-blogger.large, .metrize-social-behance.large, .metrize-social-bebo.large, .metrize-social-addthis.large, .metrize-social-500px.large, .metrize-snow.large, .metrize-sliders.large, .metrize-sliders-vertical.large, .metrize-sign-male.large, .metrize-sign-female.large, .metrize-shield.large, .metrize-settings.large, .metrize-setting.large, .metrize-select-square.large, .metrize-select-circle.large, .metrize-search.large, .metrize-scale.large, .metrize-rules.large, .metrize-rss.large, .metrize-retweet.large, .metrize-report-comment.large, .metrize-refresh.large, .metrize-rec.large, .metrize-random.large, .metrize-quote.large, .metrize-question.large, .metrize-previous-fast-step.large, .metrize-prev-step.large, .metrize-pounds.large, .metrize-podcast.large, .metrize-plus.large, .metrize-play.large, .metrize-pin.large, .metrize-pin-map.large, .metrize-pig-money.large, .metrize-pause.large, .metrize-paperclip.large, .metrize-paperclip-oblique.large, .metrize-options-settings.large, .metrize-officine.large, .metrize-officine-2.large, .metrize-off.large, .metrize-number-zero.large, .metrize-number-two.large, .metrize-number-three.large, .metrize-number-six.large, .metrize-number-seven.large, .metrize-number-one.large, .metrize-number-nine.large, .metrize-number-four.large, .metrize-number-five.large, .metrize-number-eight.large, .metrize-next-step.large, .metrize-next-fast-step.large, .metrize-music.large, .metrize-multi-borders.large, .metrize-minus.large, .metrize-marker.large, .metrize-marker-points.large, .metrize-marker-minus.large, .metrize-marker-add.large, .metrize-map.large, .metrize-male-symbol.large, .metrize-mailbox.large, .metrize-mail.large, .metrize-magnet.large, .metrize-magic-wand.large, .metrize-login-lock-refresh.large, .metrize-locked.large, .metrize-location.large, .metrize-location-maps.large, .metrize-list-square.large, .metrize-list-circle.large, .metrize-link-url.large, .metrize-line-through.large, .metrize-limit-directions.large, .metrize-like-upload.large, .metrize-like-remove.large, .metrize-like-download.large, .metrize-like-close.large, .metrize-like-ban.large, .metrize-like-add.large, .metrize-left-right.large, .metrize-leaf.large, .metrize-layers.large, .metrize-landscape.large, .metrize-key.large, .metrize-italic.large, .metrize-info.large, .metrize-idea.large, .metrize-home-wifi.large, .metrize-heart.large, .metrize-hdd.large, .metrize-hdd-raid.large, .metrize-hdd-net.large, .metrize-grids.large, .metrize-grid-big.large, .metrize-graphs.large, .metrize-forward.large, .metrize-fire.large, .metrize-female-symbol.large, .metrize-eye.large, .metrize-eye-disabled.large, .metrize-expand.large, .metrize-expand-vertical.large, .metrize-expand-horizontal.large, .metrize-expand-directions.large, .metrize-exclamation.large, .metrize-euro.large, .metrize-email-upload.large, .metrize-email-spam.large, .metrize-email-remove.large, .metrize-email-luminosity.large, .metrize-email-download.large, .metrize-email-close.large, .metrize-email-add.large, .metrize-eject.large, .metrize-drops.large, .metrize-drop.large, .metrize-download.large, .metrize-download-selection.large, .metrize-download-selection-circle.large, .metrize-double-diamonds.large, .metrize-dot-square.large, .metrize-dot-line.large, .metrize-dot-circle.large, .metrize-dollar.large, .metrize-documents.large, .metrize-document.large, .metrize-document-fill.large, .metrize-directions.large, .metrize-cross.large, .metrize-credit-card.large, .metrize-copy-paste-document.large, .metrize-copy-document.large, .metrize-contract-vertical.large, .metrize-contract-horizontal.large, .metrize-contract-directions.large, .metrize-compass.large, .metrize-compass-2.large, .metrize-comments.large, .metrize-comment.large, .metrize-coins.large, .metrize-cloud.large, .metrize-cloud-upload.large, .metrize-cloud-remove.large, .metrize-cloud-download.large, .metrize-cloud-add.large, .metrize-clock.large, .metrize-circles.large, .metrize-check.large, .metrize-chat.large, .metrize-chart-down.large, .metrize-cd-dvd-rom.large, .metrize-camera.large, .metrize-button-question.large, .metrize-button-minus.large, .metrize-button-exclamation.large, .metrize-button-email.large, .metrize-button-close.large, .metrize-button-check.large, .metrize-button-add.large, .metrize-brush.large, .metrize-browser-sizes.large, .metrize-box-remove.large, .metrize-box-close.large, .metrize-box-blank.large, .metrize-box-add.large, .metrize-bolt.large, .metrize-block-menu.large, .metrize-blank.large, .metrize-bezier.large, .metrize-bars.large, .metrize-ban-circle.large, .metrize-bag.large, .metrize-backward.large, .metrize-axis-rules.large, .metrize-atom.large, .metrize-arrow-up.large, .metrize-arrow-up-thin.large, .metrize-arrow-up-light.large, .metrize-arrow-up-bold.large, .metrize-arrow-up-bold-round.large, .metrize-arrow-up-big.large, .metrize-arrow-right.large, .metrize-arrow-right-thin.large, .metrize-arrow-right-light.large, .metrize-arrow-right-bold.large, .metrize-arrow-right-bold-round.large, .metrize-arrow-right-big.large, .metrize-arrow-oblique-expand.large, .metrize-arrow-oblique-expand-directions.large, .metrize-arrow-oblique-contract.large, .metrize-arrow-oblique-contract-directions.large, .metrize-arrow-multi-line-up.large, .metrize-arrow-multi-line-right.large, .metrize-arrow-multi-line-left.large, .metrize-arrow-multi-line-down.large, .metrize-arrow-left.large, .metrize-arrow-left-thin.large, .metrize-arrow-left-light.large, .metrize-arrow-left-bold.large, .metrize-arrow-left-bold-round.large, .metrize-arrow-left-big.large, .metrize-arrow-fill-up.large, .metrize-arrow-fill-right.large, .metrize-arrow-fill-left.large, .metrize-arrow-fill-down.large, .metrize-arrow-down.large, .metrize-arrow-down-thin.large, .metrize-arrow-down-light.large, .metrize-arrow-down-bold.large, .metrize-arrow-down-bold-round.large, .metrize-arrow-down-big.large, .metrize-arrow-cycling.large, .metrize-arrow-cycle.large, .metrize-arrow-curve-right.large, .metrize-arrow-curve-recycle.large, .metrize-arrow-curve-left.large, .metrize-animal-footprint.large, .metrize-alarm-clock.large, .metrize-air-plane.large, .metrize-adjust.large, .metrize-cube.large {
	font-size: 60px;
}

/* [class*="metrize-"].xlarge { */
.metrize-yen.xlarge, .metrize-world.xlarge, .metrize-wireframe-globe.xlarge, .metrize-wind.xlarge, .metrize-wifi.xlarge, .metrize-waves.xlarge, .metrize-viewport.xlarge, .metrize-viewport-video.xlarge, .metrize-user.xlarge, .metrize-user-remove.xlarge, .metrize-user-ban.xlarge, .metrize-user-add.xlarge, .metrize-upload.xlarge, .metrize-upload-selection.xlarge, .metrize-upload-selection-circle.xlarge, .metrize-underline.xlarge, .metrize-triple-points.xlarge, .metrize-top-bottom.xlarge, .metrize-three-points.xlarge, .metrize-three-points-top.xlarge, .metrize-three-points-bottom.xlarge, .metrize-text-width.xlarge, .metrize-text-size-upper.xlarge, .metrize-text-size-reduce.xlarge, .metrize-text-paragraph.xlarge, .metrize-text-normal.xlarge, .metrize-text-justify-right.xlarge, .metrize-text-justify-left.xlarge, .metrize-text-justify-center.xlarge, .metrize-text-height.xlarge, .metrize-text-center.xlarge, .metrize-text-bold.xlarge, .metrize-text-align-right.xlarge, .metrize-text-align-left.xlarge, .metrize-telephone.xlarge, .metrize-sunshine.xlarge, .metrize-sun.xlarge, .metrize-stop.xlarge, .metrize-star.xlarge, .metrize-speed.xlarge, .metrize-sound-on.xlarge, .metrize-sound-off.xlarge, .metrize-sos.xlarge, .metrize-social-zerply.xlarge, .metrize-social-youtube.xlarge, .metrize-social-yelp.xlarge, .metrize-social-yahoo.xlarge, .metrize-social-wordpress.xlarge, .metrize-social-virb.xlarge, .metrize-social-vimeo.xlarge, .metrize-social-viddler.xlarge, .metrize-social-twitter.xlarge, .metrize-social-tumblr.xlarge, .metrize-social-stumbleupon.xlarge, .metrize-social-soundcloud.xlarge, .metrize-social-skype.xlarge, .metrize-social-sharethis.xlarge, .metrize-social-quora.xlarge, .metrize-social-pinterest.xlarge, .metrize-social-photobucket.xlarge, .metrize-social-paypal.xlarge, .metrize-social-myspace.xlarge, .metrize-social-linkedin.xlarge, .metrize-social-last-fm.xlarge, .metrize-social-grooveshark.xlarge, .metrize-social-google-plus.xlarge, .metrize-social-github.xlarge, .metrize-social-forrst.xlarge, .metrize-social-flickr.xlarge, .metrize-social-facebook.xlarge, .metrize-social-evernote.xlarge, .metrize-social-envato.xlarge, .metrize-social-email.xlarge, .metrize-social-dribbble.xlarge, .metrize-social-digg.xlarge, .metrize-social-deviantart.xlarge, .metrize-social-blogger.xlarge, .metrize-social-behance.xlarge, .metrize-social-bebo.xlarge, .metrize-social-addthis.xlarge, .metrize-social-500px.xlarge, .metrize-snow.xlarge, .metrize-sliders.xlarge, .metrize-sliders-vertical.xlarge, .metrize-sign-male.xlarge, .metrize-sign-female.xlarge, .metrize-shield.xlarge, .metrize-settings.xlarge, .metrize-setting.xlarge, .metrize-select-square.xlarge, .metrize-select-circle.xlarge, .metrize-search.xlarge, .metrize-scale.xlarge, .metrize-rules.xlarge, .metrize-rss.xlarge, .metrize-retweet.xlarge, .metrize-report-comment.xlarge, .metrize-refresh.xlarge, .metrize-rec.xlarge, .metrize-random.xlarge, .metrize-quote.xlarge, .metrize-question.xlarge, .metrize-previous-fast-step.xlarge, .metrize-prev-step.xlarge, .metrize-pounds.xlarge, .metrize-podcast.xlarge, .metrize-plus.xlarge, .metrize-play.xlarge, .metrize-pin.xlarge, .metrize-pin-map.xlarge, .metrize-pig-money.xlarge, .metrize-pause.xlarge, .metrize-paperclip.xlarge, .metrize-paperclip-oblique.xlarge, .metrize-options-settings.xlarge, .metrize-officine.xlarge, .metrize-officine-2.xlarge, .metrize-off.xlarge, .metrize-number-zero.xlarge, .metrize-number-two.xlarge, .metrize-number-three.xlarge, .metrize-number-six.xlarge, .metrize-number-seven.xlarge, .metrize-number-one.xlarge, .metrize-number-nine.xlarge, .metrize-number-four.xlarge, .metrize-number-five.xlarge, .metrize-number-eight.xlarge, .metrize-next-step.xlarge, .metrize-next-fast-step.xlarge, .metrize-music.xlarge, .metrize-multi-borders.xlarge, .metrize-minus.xlarge, .metrize-marker.xlarge, .metrize-marker-points.xlarge, .metrize-marker-minus.xlarge, .metrize-marker-add.xlarge, .metrize-map.xlarge, .metrize-male-symbol.xlarge, .metrize-mailbox.xlarge, .metrize-mail.xlarge, .metrize-magnet.xlarge, .metrize-magic-wand.xlarge, .metrize-login-lock-refresh.xlarge, .metrize-locked.xlarge, .metrize-location.xlarge, .metrize-location-maps.xlarge, .metrize-list-square.xlarge, .metrize-list-circle.xlarge, .metrize-link-url.xlarge, .metrize-line-through.xlarge, .metrize-limit-directions.xlarge, .metrize-like-upload.xlarge, .metrize-like-remove.xlarge, .metrize-like-download.xlarge, .metrize-like-close.xlarge, .metrize-like-ban.xlarge, .metrize-like-add.xlarge, .metrize-left-right.xlarge, .metrize-leaf.xlarge, .metrize-layers.xlarge, .metrize-landscape.xlarge, .metrize-key.xlarge, .metrize-italic.xlarge, .metrize-info.xlarge, .metrize-idea.xlarge, .metrize-home-wifi.xlarge, .metrize-heart.xlarge, .metrize-hdd.xlarge, .metrize-hdd-raid.xlarge, .metrize-hdd-net.xlarge, .metrize-grids.xlarge, .metrize-grid-big.xlarge, .metrize-graphs.xlarge, .metrize-forward.xlarge, .metrize-fire.xlarge, .metrize-female-symbol.xlarge, .metrize-eye.xlarge, .metrize-eye-disabled.xlarge, .metrize-expand.xlarge, .metrize-expand-vertical.xlarge, .metrize-expand-horizontal.xlarge, .metrize-expand-directions.xlarge, .metrize-exclamation.xlarge, .metrize-euro.xlarge, .metrize-email-upload.xlarge, .metrize-email-spam.xlarge, .metrize-email-remove.xlarge, .metrize-email-luminosity.xlarge, .metrize-email-download.xlarge, .metrize-email-close.xlarge, .metrize-email-add.xlarge, .metrize-eject.xlarge, .metrize-drops.xlarge, .metrize-drop.xlarge, .metrize-download.xlarge, .metrize-download-selection.xlarge, .metrize-download-selection-circle.xlarge, .metrize-double-diamonds.xlarge, .metrize-dot-square.xlarge, .metrize-dot-line.xlarge, .metrize-dot-circle.xlarge, .metrize-dollar.xlarge, .metrize-documents.xlarge, .metrize-document.xlarge, .metrize-document-fill.xlarge, .metrize-directions.xlarge, .metrize-cross.xlarge, .metrize-credit-card.xlarge, .metrize-copy-paste-document.xlarge, .metrize-copy-document.xlarge, .metrize-contract-vertical.xlarge, .metrize-contract-horizontal.xlarge, .metrize-contract-directions.xlarge, .metrize-compass.xlarge, .metrize-compass-2.xlarge, .metrize-comments.xlarge, .metrize-comment.xlarge, .metrize-coins.xlarge, .metrize-cloud.xlarge, .metrize-cloud-upload.xlarge, .metrize-cloud-remove.xlarge, .metrize-cloud-download.xlarge, .metrize-cloud-add.xlarge, .metrize-clock.xlarge, .metrize-circles.xlarge, .metrize-check.xlarge, .metrize-chat.xlarge, .metrize-chart-down.xlarge, .metrize-cd-dvd-rom.xlarge, .metrize-camera.xlarge, .metrize-button-question.xlarge, .metrize-button-minus.xlarge, .metrize-button-exclamation.xlarge, .metrize-button-email.xlarge, .metrize-button-close.xlarge, .metrize-button-check.xlarge, .metrize-button-add.xlarge, .metrize-brush.xlarge, .metrize-browser-sizes.xlarge, .metrize-box-remove.xlarge, .metrize-box-close.xlarge, .metrize-box-blank.xlarge, .metrize-box-add.xlarge, .metrize-bolt.xlarge, .metrize-block-menu.xlarge, .metrize-blank.xlarge, .metrize-bezier.xlarge, .metrize-bars.xlarge, .metrize-ban-circle.xlarge, .metrize-bag.xlarge, .metrize-backward.xlarge, .metrize-axis-rules.xlarge, .metrize-atom.xlarge, .metrize-arrow-up.xlarge, .metrize-arrow-up-thin.xlarge, .metrize-arrow-up-light.xlarge, .metrize-arrow-up-bold.xlarge, .metrize-arrow-up-bold-round.xlarge, .metrize-arrow-up-big.xlarge, .metrize-arrow-right.xlarge, .metrize-arrow-right-thin.xlarge, .metrize-arrow-right-light.xlarge, .metrize-arrow-right-bold.xlarge, .metrize-arrow-right-bold-round.xlarge, .metrize-arrow-right-big.xlarge, .metrize-arrow-oblique-expand.xlarge, .metrize-arrow-oblique-expand-directions.xlarge, .metrize-arrow-oblique-contract.xlarge, .metrize-arrow-oblique-contract-directions.xlarge, .metrize-arrow-multi-line-up.xlarge, .metrize-arrow-multi-line-right.xlarge, .metrize-arrow-multi-line-left.xlarge, .metrize-arrow-multi-line-down.xlarge, .metrize-arrow-left.xlarge, .metrize-arrow-left-thin.xlarge, .metrize-arrow-left-light.xlarge, .metrize-arrow-left-bold.xlarge, .metrize-arrow-left-bold-round.xlarge, .metrize-arrow-left-big.xlarge, .metrize-arrow-fill-up.xlarge, .metrize-arrow-fill-right.xlarge, .metrize-arrow-fill-left.xlarge, .metrize-arrow-fill-down.xlarge, .metrize-arrow-down.xlarge, .metrize-arrow-down-thin.xlarge, .metrize-arrow-down-light.xlarge, .metrize-arrow-down-bold.xlarge, .metrize-arrow-down-bold-round.xlarge, .metrize-arrow-down-big.xlarge, .metrize-arrow-cycling.xlarge, .metrize-arrow-cycle.xlarge, .metrize-arrow-curve-right.xlarge, .metrize-arrow-curve-recycle.xlarge, .metrize-arrow-curve-left.xlarge, .metrize-animal-footprint.xlarge, .metrize-alarm-clock.xlarge, .metrize-air-plane.xlarge, .metrize-adjust.xlarge, .metrize-cube.xlarge {
	font-size: 80px;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="metrize-"] {
*/
.metrize-yen, .metrize-world, .metrize-wireframe-globe, .metrize-wind, .metrize-wifi, .metrize-waves, .metrize-viewport, .metrize-viewport-video, .metrize-user, .metrize-user-remove, .metrize-user-ban, .metrize-user-add, .metrize-upload, .metrize-upload-selection, .metrize-upload-selection-circle, .metrize-underline, .metrize-triple-points, .metrize-top-bottom, .metrize-three-points, .metrize-three-points-top, .metrize-three-points-bottom, .metrize-text-width, .metrize-text-size-upper, .metrize-text-size-reduce, .metrize-text-paragraph, .metrize-text-normal, .metrize-text-justify-right, .metrize-text-justify-left, .metrize-text-justify-center, .metrize-text-height, .metrize-text-center, .metrize-text-bold, .metrize-text-align-right, .metrize-text-align-left, .metrize-telephone, .metrize-sunshine, .metrize-sun, .metrize-stop, .metrize-star, .metrize-speed, .metrize-sound-on, .metrize-sound-off, .metrize-sos, .metrize-social-zerply, .metrize-social-youtube, .metrize-social-yelp, .metrize-social-yahoo, .metrize-social-wordpress, .metrize-social-virb, .metrize-social-vimeo, .metrize-social-viddler, .metrize-social-twitter, .metrize-social-tumblr, .metrize-social-stumbleupon, .metrize-social-soundcloud, .metrize-social-skype, .metrize-social-sharethis, .metrize-social-quora, .metrize-social-pinterest, .metrize-social-photobucket, .metrize-social-paypal, .metrize-social-myspace, .metrize-social-linkedin, .metrize-social-last-fm, .metrize-social-grooveshark, .metrize-social-google-plus, .metrize-social-github, .metrize-social-forrst, .metrize-social-flickr, .metrize-social-facebook, .metrize-social-evernote, .metrize-social-envato, .metrize-social-email, .metrize-social-dribbble, .metrize-social-digg, .metrize-social-deviantart, .metrize-social-blogger, .metrize-social-behance, .metrize-social-bebo, .metrize-social-addthis, .metrize-social-500px, .metrize-snow, .metrize-sliders, .metrize-sliders-vertical, .metrize-sign-male, .metrize-sign-female, .metrize-shield, .metrize-settings, .metrize-setting, .metrize-select-square, .metrize-select-circle, .metrize-search, .metrize-scale, .metrize-rules, .metrize-rss, .metrize-retweet, .metrize-report-comment, .metrize-refresh, .metrize-rec, .metrize-random, .metrize-quote, .metrize-question, .metrize-previous-fast-step, .metrize-prev-step, .metrize-pounds, .metrize-podcast, .metrize-plus, .metrize-play, .metrize-pin, .metrize-pin-map, .metrize-pig-money, .metrize-pause, .metrize-paperclip, .metrize-paperclip-oblique, .metrize-options-settings, .metrize-officine, .metrize-officine-2, .metrize-off, .metrize-number-zero, .metrize-number-two, .metrize-number-three, .metrize-number-six, .metrize-number-seven, .metrize-number-one, .metrize-number-nine, .metrize-number-four, .metrize-number-five, .metrize-number-eight, .metrize-next-step, .metrize-next-fast-step, .metrize-music, .metrize-multi-borders, .metrize-minus, .metrize-marker, .metrize-marker-points, .metrize-marker-minus, .metrize-marker-add, .metrize-map, .metrize-male-symbol, .metrize-mailbox, .metrize-mail, .metrize-magnet, .metrize-magic-wand, .metrize-login-lock-refresh, .metrize-locked, .metrize-location, .metrize-location-maps, .metrize-list-square, .metrize-list-circle, .metrize-link-url, .metrize-line-through, .metrize-limit-directions, .metrize-like-upload, .metrize-like-remove, .metrize-like-download, .metrize-like-close, .metrize-like-ban, .metrize-like-add, .metrize-left-right, .metrize-leaf, .metrize-layers, .metrize-landscape, .metrize-key, .metrize-italic, .metrize-info, .metrize-idea, .metrize-home-wifi, .metrize-heart, .metrize-hdd, .metrize-hdd-raid, .metrize-hdd-net, .metrize-grids, .metrize-grid-big, .metrize-graphs, .metrize-forward, .metrize-fire, .metrize-female-symbol, .metrize-eye, .metrize-eye-disabled, .metrize-expand, .metrize-expand-vertical, .metrize-expand-horizontal, .metrize-expand-directions, .metrize-exclamation, .metrize-euro, .metrize-email-upload, .metrize-email-spam, .metrize-email-remove, .metrize-email-luminosity, .metrize-email-download, .metrize-email-close, .metrize-email-add, .metrize-eject, .metrize-drops, .metrize-drop, .metrize-download, .metrize-download-selection, .metrize-download-selection-circle, .metrize-double-diamonds, .metrize-dot-square, .metrize-dot-line, .metrize-dot-circle, .metrize-dollar, .metrize-documents, .metrize-document, .metrize-document-fill, .metrize-directions, .metrize-cross, .metrize-credit-card, .metrize-copy-paste-document, .metrize-copy-document, .metrize-contract-vertical, .metrize-contract-horizontal, .metrize-contract-directions, .metrize-compass, .metrize-compass-2, .metrize-comments, .metrize-comment, .metrize-coins, .metrize-cloud, .metrize-cloud-upload, .metrize-cloud-remove, .metrize-cloud-download, .metrize-cloud-add, .metrize-clock, .metrize-circles, .metrize-check, .metrize-chat, .metrize-chart-down, .metrize-cd-dvd-rom, .metrize-camera, .metrize-button-question, .metrize-button-minus, .metrize-button-exclamation, .metrize-button-email, .metrize-button-close, .metrize-button-check, .metrize-button-add, .metrize-brush, .metrize-browser-sizes, .metrize-box-remove, .metrize-box-close, .metrize-box-blank, .metrize-box-add, .metrize-bolt, .metrize-block-menu, .metrize-blank, .metrize-bezier, .metrize-bars, .metrize-ban-circle, .metrize-bag, .metrize-backward, .metrize-axis-rules, .metrize-atom, .metrize-arrow-up, .metrize-arrow-up-thin, .metrize-arrow-up-light, .metrize-arrow-up-bold, .metrize-arrow-up-bold-round, .metrize-arrow-up-big, .metrize-arrow-right, .metrize-arrow-right-thin, .metrize-arrow-right-light, .metrize-arrow-right-bold, .metrize-arrow-right-bold-round, .metrize-arrow-right-big, .metrize-arrow-oblique-expand, .metrize-arrow-oblique-expand-directions, .metrize-arrow-oblique-contract, .metrize-arrow-oblique-contract-directions, .metrize-arrow-multi-line-up, .metrize-arrow-multi-line-right, .metrize-arrow-multi-line-left, .metrize-arrow-multi-line-down, .metrize-arrow-left, .metrize-arrow-left-thin, .metrize-arrow-left-light, .metrize-arrow-left-bold, .metrize-arrow-left-bold-round, .metrize-arrow-left-big, .metrize-arrow-fill-up, .metrize-arrow-fill-right, .metrize-arrow-fill-left, .metrize-arrow-fill-down, .metrize-arrow-down, .metrize-arrow-down-thin, .metrize-arrow-down-light, .metrize-arrow-down-bold, .metrize-arrow-down-bold-round, .metrize-arrow-down-big, .metrize-arrow-cycling, .metrize-arrow-cycle, .metrize-arrow-curve-right, .metrize-arrow-curve-recycle, .metrize-arrow-curve-left, .metrize-animal-footprint, .metrize-alarm-clock, .metrize-air-plane, .metrize-adjust, .metrize-cube {
	font-family: 'Metrize-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.metrize-yen:before {
	content: "\e000";
}
.metrize-world:before {
	content: "\e001";
}
.metrize-wireframe-globe:before {
	content: "\e002";
}
.metrize-wind:before {
	content: "\e003";
}
.metrize-wifi:before {
	content: "\e004";
}
.metrize-waves:before {
	content: "\e005";
}
.metrize-viewport:before {
	content: "\e006";
}
.metrize-viewport-video:before {
	content: "\e007";
}
.metrize-user:before {
	content: "\e008";
}
.metrize-user-remove:before {
	content: "\e009";
}
.metrize-user-ban:before {
	content: "\e00a";
}
.metrize-user-add:before {
	content: "\e00b";
}
.metrize-upload:before {
	content: "\e00c";
}
.metrize-upload-selection:before {
	content: "\e00d";
}
.metrize-upload-selection-circle:before {
	content: "\e00e";
}
.metrize-underline:before {
	content: "\e00f";
}
.metrize-triple-points:before {
	content: "\e010";
}
.metrize-top-bottom:before {
	content: "\e011";
}
.metrize-three-points:before {
	content: "\e012";
}
.metrize-three-points-top:before {
	content: "\e013";
}
.metrize-three-points-bottom:before {
	content: "\e014";
}
.metrize-text-width:before {
	content: "\e015";
}
.metrize-text-size-upper:before {
	content: "\e016";
}
.metrize-text-size-reduce:before {
	content: "\e017";
}
.metrize-text-paragraph:before {
	content: "\e018";
}
.metrize-text-normal:before {
	content: "\e019";
}
.metrize-text-justify-right:before {
	content: "\e01a";
}
.metrize-text-justify-left:before {
	content: "\e01b";
}
.metrize-text-justify-center:before {
	content: "\e01c";
}
.metrize-text-height:before {
	content: "\e01d";
}
.metrize-text-center:before {
	content: "\e01e";
}
.metrize-text-bold:before {
	content: "\e01f";
}
.metrize-text-align-right:before {
	content: "\e020";
}
.metrize-text-align-left:before {
	content: "\e021";
}
.metrize-telephone:before {
	content: "\e022";
}
.metrize-sunshine:before {
	content: "\e023";
}
.metrize-sun:before {
	content: "\e024";
}
.metrize-stop:before {
	content: "\e025";
}
.metrize-star:before {
	content: "\e026";
}
.metrize-speed:before {
	content: "\e027";
}
.metrize-sound-on:before {
	content: "\e028";
}
.metrize-sound-off:before {
	content: "\e029";
}
.metrize-sos:before {
	content: "\e02a";
}
.metrize-social-zerply:before {
	content: "\e02b";
}
.metrize-social-youtube:before {
	content: "\e02c";
}
.metrize-social-yelp:before {
	content: "\e02d";
}
.metrize-social-yahoo:before {
	content: "\e02e";
}
.metrize-social-wordpress:before {
	content: "\e02f";
}
.metrize-social-virb:before {
	content: "\e030";
}
.metrize-social-vimeo:before {
	content: "\e031";
}
.metrize-social-viddler:before {
	content: "\e032";
}
.metrize-social-twitter:before {
	content: "\e033";
}
.metrize-social-tumblr:before {
	content: "\e034";
}
.metrize-social-stumbleupon:before {
	content: "\e035";
}
.metrize-social-soundcloud:before {
	content: "\e036";
}
.metrize-social-skype:before {
	content: "\e037";
}
.metrize-social-sharethis:before {
	content: "\e038";
}
.metrize-social-quora:before {
	content: "\e039";
}
.metrize-social-pinterest:before {
	content: "\e03a";
}
.metrize-social-photobucket:before {
	content: "\e03b";
}
.metrize-social-paypal:before {
	content: "\e03c";
}
.metrize-social-myspace:before {
	content: "\e03d";
}
.metrize-social-linkedin:before {
	content: "\e03e";
}
.metrize-social-last-fm:before {
	content: "\e03f";
}
.metrize-social-grooveshark:before {
	content: "\e040";
}
.metrize-social-google-plus:before {
	content: "\e041";
}
.metrize-social-github:before {
	content: "\e042";
}
.metrize-social-forrst:before {
	content: "\e043";
}
.metrize-social-flickr:before {
	content: "\e044";
}
.metrize-social-facebook:before {
	content: "\e045";
}
.metrize-social-evernote:before {
	content: "\e046";
}
.metrize-social-envato:before {
	content: "\e047";
}
.metrize-social-email:before {
	content: "\e048";
}
.metrize-social-dribbble:before {
	content: "\e049";
}
.metrize-social-digg:before {
	content: "\e04a";
}
.metrize-social-deviantart:before {
	content: "\e04b";
}
.metrize-social-blogger:before {
	content: "\e04c";
}
.metrize-social-behance:before {
	content: "\e04d";
}
.metrize-social-bebo:before {
	content: "\e04e";
}
.metrize-social-addthis:before {
	content: "\e04f";
}
.metrize-social-500px:before {
	content: "\e050";
}
.metrize-snow:before {
	content: "\e051";
}
.metrize-sliders:before {
	content: "\e052";
}
.metrize-sliders-vertical:before {
	content: "\e053";
}
.metrize-sign-male:before {
	content: "\e054";
}
.metrize-sign-female:before {
	content: "\e055";
}
.metrize-shield:before {
	content: "\e056";
}
.metrize-settings:before {
	content: "\e057";
}
.metrize-setting:before {
	content: "\e058";
}
.metrize-select-square:before {
	content: "\e059";
}
.metrize-select-circle:before {
	content: "\e05a";
}
.metrize-search:before {
	content: "\e05b";
}
.metrize-scale:before {
	content: "\e05c";
}
.metrize-rules:before {
	content: "\e05d";
}
.metrize-rss:before {
	content: "\e05e";
}
.metrize-retweet:before {
	content: "\e05f";
}
.metrize-report-comment:before {
	content: "\e060";
}
.metrize-refresh:before {
	content: "\e061";
}
.metrize-rec:before {
	content: "\e062";
}
.metrize-random:before {
	content: "\e063";
}
.metrize-quote:before {
	content: "\e064";
}
.metrize-question:before {
	content: "\e065";
}
.metrize-previous-fast-step:before {
	content: "\e066";
}
.metrize-prev-step:before {
	content: "\e067";
}
.metrize-pounds:before {
	content: "\e068";
}
.metrize-podcast:before {
	content: "\e069";
}
.metrize-plus:before {
	content: "\e06a";
}
.metrize-play:before {
	content: "\e06b";
}
.metrize-pin:before {
	content: "\e06c";
}
.metrize-pin-map:before {
	content: "\e06d";
}
.metrize-pig-money:before {
	content: "\e06e";
}
.metrize-pause:before {
	content: "\e06f";
}
.metrize-paperclip:before {
	content: "\e070";
}
.metrize-paperclip-oblique:before {
	content: "\e071";
}
.metrize-options-settings:before {
	content: "\e072";
}
.metrize-officine:before {
	content: "\e073";
}
.metrize-officine-2:before {
	content: "\e074";
}
.metrize-off:before {
	content: "\e075";
}
.metrize-number-zero:before {
	content: "\e076";
}
.metrize-number-two:before {
	content: "\e077";
}
.metrize-number-three:before {
	content: "\e078";
}
.metrize-number-six:before {
	content: "\e079";
}
.metrize-number-seven:before {
	content: "\e07a";
}
.metrize-number-one:before {
	content: "\e07b";
}
.metrize-number-nine:before {
	content: "\e07c";
}
.metrize-number-four:before {
	content: "\e07d";
}
.metrize-number-five:before {
	content: "\e07e";
}
.metrize-number-eight:before {
	content: "\e07f";
}
.metrize-next-step:before {
	content: "\e080";
}
.metrize-next-fast-step:before {
	content: "\e081";
}
.metrize-music:before {
	content: "\e082";
}
.metrize-multi-borders:before {
	content: "\e083";
}
.metrize-minus:before {
	content: "\e084";
}
.metrize-marker:before {
	content: "\e085";
}
.metrize-marker-points:before {
	content: "\e086";
}
.metrize-marker-minus:before {
	content: "\e087";
}
.metrize-marker-add:before {
	content: "\e088";
}
.metrize-map:before {
	content: "\e089";
}
.metrize-male-symbol:before {
	content: "\e08a";
}
.metrize-mailbox:before {
	content: "\e08b";
}
.metrize-mail:before {
	content: "\e08c";
}
.metrize-magnet:before {
	content: "\e08d";
}
.metrize-magic-wand:before {
	content: "\e08e";
}
.metrize-login-lock-refresh:before {
	content: "\e08f";
}
.metrize-locked:before {
	content: "\e090";
}
.metrize-location:before {
	content: "\e091";
}
.metrize-location-maps:before {
	content: "\e092";
}
.metrize-list-square:before {
	content: "\e093";
}
.metrize-list-circle:before {
	content: "\e094";
}
.metrize-link-url:before {
	content: "\e095";
}
.metrize-line-through:before {
	content: "\e096";
}
.metrize-limit-directions:before {
	content: "\e097";
}
.metrize-like-upload:before {
	content: "\e098";
}
.metrize-like-remove:before {
	content: "\e099";
}
.metrize-like-download:before {
	content: "\e09a";
}
.metrize-like-close:before {
	content: "\e09b";
}
.metrize-like-ban:before {
	content: "\e09c";
}
.metrize-like-add:before {
	content: "\e09d";
}
.metrize-left-right:before {
	content: "\e09e";
}
.metrize-leaf:before {
	content: "\e09f";
}
.metrize-layers:before {
	content: "\e0a0";
}
.metrize-landscape:before {
	content: "\e0a1";
}
.metrize-key:before {
	content: "\e0a2";
}
.metrize-italic:before {
	content: "\e0a3";
}
.metrize-info:before {
	content: "\e0a4";
}
.metrize-idea:before {
	content: "\e0a5";
}
.metrize-home-wifi:before {
	content: "\e0a6";
}
.metrize-heart:before {
	content: "\e0a7";
}
.metrize-hdd:before {
	content: "\e0a8";
}
.metrize-hdd-raid:before {
	content: "\e0a9";
}
.metrize-hdd-net:before {
	content: "\e0aa";
}
.metrize-grids:before {
	content: "\e0ab";
}
.metrize-grid-big:before {
	content: "\e0ac";
}
.metrize-graphs:before {
	content: "\e0ad";
}
.metrize-forward:before {
	content: "\e0ae";
}
.metrize-fire:before {
	content: "\e0af";
}
.metrize-female-symbol:before {
	content: "\e0b0";
}
.metrize-eye:before {
	content: "\e0b1";
}
.metrize-eye-disabled:before {
	content: "\e0b2";
}
.metrize-expand:before {
	content: "\e0b3";
}
.metrize-expand-vertical:before {
	content: "\e0b4";
}
.metrize-expand-horizontal:before {
	content: "\e0b5";
}
.metrize-expand-directions:before {
	content: "\e0b6";
}
.metrize-exclamation:before {
	content: "\e0b7";
}
.metrize-euro:before {
	content: "\e0b8";
}
.metrize-email-upload:before {
	content: "\e0b9";
}
.metrize-email-spam:before {
	content: "\e0ba";
}
.metrize-email-remove:before {
	content: "\e0bb";
}
.metrize-email-luminosity:before {
	content: "\e0bc";
}
.metrize-email-download:before {
	content: "\e0bd";
}
.metrize-email-close:before {
	content: "\e0be";
}
.metrize-email-add:before {
	content: "\e0bf";
}
.metrize-eject:before {
	content: "\e0c0";
}
.metrize-drops:before {
	content: "\e0c1";
}
.metrize-drop:before {
	content: "\e0c2";
}
.metrize-download:before {
	content: "\e0c3";
}
.metrize-download-selection:before {
	content: "\e0c4";
}
.metrize-download-selection-circle:before {
	content: "\e0c5";
}
.metrize-double-diamonds:before {
	content: "\e0c6";
}
.metrize-dot-square:before {
	content: "\e0c7";
}
.metrize-dot-line:before {
	content: "\e0c8";
}
.metrize-dot-circle:before {
	content: "\e0c9";
}
.metrize-dollar:before {
	content: "\e0ca";
}
.metrize-documents:before {
	content: "\e0cb";
}
.metrize-document:before {
	content: "\e0cc";
}
.metrize-document-fill:before {
	content: "\e0cd";
}
.metrize-directions:before {
	content: "\e0ce";
}
.metrize-cross:before {
	content: "\e0cf";
}
.metrize-credit-card:before {
	content: "\e0d0";
}
.metrize-copy-paste-document:before {
	content: "\e0d1";
}
.metrize-copy-document:before {
	content: "\e0d2";
}
.metrize-contract-vertical:before {
	content: "\e0d3";
}
.metrize-contract-horizontal:before {
	content: "\e0d4";
}
.metrize-contract-directions:before {
	content: "\e0d5";
}
.metrize-compass:before {
	content: "\e0d6";
}
.metrize-compass-2:before {
	content: "\e0d7";
}
.metrize-comments:before {
	content: "\e0d8";
}
.metrize-comment:before {
	content: "\e0d9";
}
.metrize-coins:before {
	content: "\e0da";
}
.metrize-cloud:before {
	content: "\e0db";
}
.metrize-cloud-upload:before {
	content: "\e0dc";
}
.metrize-cloud-remove:before {
	content: "\e0dd";
}
.metrize-cloud-download:before {
	content: "\e0de";
}
.metrize-cloud-add:before {
	content: "\e0df";
}
.metrize-clock:before {
	content: "\e0e0";
}
.metrize-circles:before {
	content: "\e0e1";
}
.metrize-check:before {
	content: "\e0e2";
}
.metrize-chat:before {
	content: "\e0e3";
}
.metrize-chart-down:before {
	content: "\e0e4";
}
.metrize-cd-dvd-rom:before {
	content: "\e0e5";
}
.metrize-camera:before {
	content: "\e0e6";
}
.metrize-button-question:before {
	content: "\e0e7";
}
.metrize-button-minus:before {
	content: "\e0e8";
}
.metrize-button-exclamation:before {
	content: "\e0e9";
}
.metrize-button-email:before {
	content: "\e0ea";
}
.metrize-button-close:before {
	content: "\e0eb";
}
.metrize-button-check:before {
	content: "\e0ec";
}
.metrize-button-add:before {
	content: "\e0ed";
}
.metrize-brush:before {
	content: "\e0ee";
}
.metrize-browser-sizes:before {
	content: "\e0ef";
}
.metrize-box-remove:before {
	content: "\e0f0";
}
.metrize-box-close:before {
	content: "\e0f1";
}
.metrize-box-blank:before {
	content: "\e0f2";
}
.metrize-box-add:before {
	content: "\e0f3";
}
.metrize-bolt:before {
	content: "\e0f4";
}
.metrize-block-menu:before {
	content: "\e0f5";
}
.metrize-blank:before {
	content: "\e0f6";
}
.metrize-bezier:before {
	content: "\e0f7";
}
.metrize-bars:before {
	content: "\e0f8";
}
.metrize-ban-circle:before {
	content: "\e0f9";
}
.metrize-bag:before {
	content: "\e0fa";
}
.metrize-backward:before {
	content: "\e0fb";
}
.metrize-axis-rules:before {
	content: "\e0fc";
}
.metrize-atom:before {
	content: "\e0fd";
}
.metrize-arrow-up:before {
	content: "\e0fe";
}
.metrize-arrow-up-thin:before {
	content: "\e0ff";
}
.metrize-arrow-up-light:before {
	content: "\e100";
}
.metrize-arrow-up-bold:before {
	content: "\e101";
}
.metrize-arrow-up-bold-round:before {
	content: "\e102";
}
.metrize-arrow-up-big:before {
	content: "\e103";
}
.metrize-arrow-right:before {
	content: "\e104";
}
.metrize-arrow-right-thin:before {
	content: "\e105";
}
.metrize-arrow-right-light:before {
	content: "\e106";
}
.metrize-arrow-right-bold:before {
	content: "\e107";
}
.metrize-arrow-right-bold-round:before {
	content: "\e108";
}
.metrize-arrow-right-big:before {
	content: "\e109";
}
.metrize-arrow-oblique-expand:before {
	content: "\e10a";
}
.metrize-arrow-oblique-expand-directions:before {
	content: "\e10b";
}
.metrize-arrow-oblique-contract:before {
	content: "\e10c";
}
.metrize-arrow-oblique-contract-directions:before {
	content: "\e10d";
}
.metrize-arrow-multi-line-up:before {
	content: "\e10e";
}
.metrize-arrow-multi-line-right:before {
	content: "\e10f";
}
.metrize-arrow-multi-line-left:before {
	content: "\e110";
}
.metrize-arrow-multi-line-down:before {
	content: "\e111";
}
.metrize-arrow-left:before {
	content: "\e112";
}
.metrize-arrow-left-thin:before {
	content: "\e113";
}
.metrize-arrow-left-light:before {
	content: "\e114";
}
.metrize-arrow-left-bold:before {
	content: "\e115";
}
.metrize-arrow-left-bold-round:before {
	content: "\e116";
}
.metrize-arrow-left-big:before {
	content: "\e117";
}
.metrize-arrow-fill-up:before {
	content: "\e118";
}
.metrize-arrow-fill-right:before {
	content: "\e119";
}
.metrize-arrow-fill-left:before {
	content: "\e11a";
}
.metrize-arrow-fill-down:before {
	content: "\e11b";
}
.metrize-arrow-down:before {
	content: "\e11c";
}
.metrize-arrow-down-thin:before {
	content: "\e11d";
}
.metrize-arrow-down-light:before {
	content: "\e11e";
}
.metrize-arrow-down-bold:before {
	content: "\e11f";
}
.metrize-arrow-down-bold-round:before {
	content: "\e120";
}
.metrize-arrow-down-big:before {
	content: "\e121";
}
.metrize-arrow-cycling:before {
	content: "\e122";
}
.metrize-arrow-cycle:before {
	content: "\e123";
}
.metrize-arrow-curve-right:before {
	content: "\e124";
}
.metrize-arrow-curve-recycle:before {
	content: "\e125";
}
.metrize-arrow-curve-left:before {
	content: "\e126";
}
.metrize-animal-footprint:before {
	content: "\e127";
}
.metrize-alarm-clock:before {
	content: "\e128";
}
.metrize-air-plane:before {
	content: "\e129";
}
.metrize-adjust:before {
	content: "\e12a";
}
.metrize-cube:before {
	content: "\e12b";
}
