.metrize-icons-container{
    text-align: center;
    }

.metrize-icons-container a{
    font-size: 3em;
    color: #999;
    cursor: pointer;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    margin: 0  0.3em 0.5em  0;
    outline: 0;
    border: 0;
    -webkit-transition: all 150ms ease;
       -moz-transition: all 150ms ease;
         -o-transition: all 150ms ease;
            transition: all 150ms ease;

    }

#TB_window .metrize-icons-container a:hover{
    color: #666;
    -webkit-transform: scale(1.2, 1.2);
       -moz-transform: scale(1.2, 1.2);
         -o-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    }

#TB_window .metrize-icons-container a:active{
    color: #222;
    -webkit-transform: scale(0.9, 0.9);
       -moz-transform: scale(0.9, 0.9);
         -o-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);

    }

#TB_window #TB_ajaxContent{
    width: auto !important;
    height: 90%!important;
    }